There are 3 Types of grouping operation on Groups.

1. Aggregation
2. Transformation
3. Filtering

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
PICKLE_PATH = os.path.join('pandas_dataset', 'artwork_pickle_data.csv')
df = pd.read_pickle(PICKLE_PATH)

In [3]:
min(df['acquisitionYear']), df['acquisitionYear'].min()  # both results are same

(1823.0, 1823.0)

In [4]:
small_df = df.iloc[49980:50019, :].copy()
np.count_nonzero(small_df)

312

1. Aggregation Example

In [5]:
grouped = small_df.groupby('artist')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [6]:
for name, group_df in grouped:
    print(name)
    print(group_df)

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear width height units
id
4704           1983.0   355    273    mm
4705           1983.0   132    143    mm
4706           1983.0   131    155    mm
4707           1983.0   193    267    mm
4708           1983.0   125    167    mm
4709           1983.0   257    209    mm
4710           1983.0   NaN    NaN   NaN
4711           1983.0   277    200    mm
Phillips, Esq Tom
                  artist       title            medium  year  acquisitionYear  \
id
11838  Phillips, Esq Tom  [colophon]  Etching on paper  1979           1983.0

      width height units
id
11838   292    204    mm
Wols
      artist       title                         medium  year  \
id
16412   Wols  [no title]               Etching on paper  1937
16413   Wols  [no title]  Etching and drypoint on paper  1937
16414   Wols  [no title]  Etching and drypoint on paper  1937
16415   Wols  [no title]  Etching and drypoint on paper  1937
16416   Wols  [no title]  Etching and drypoint on paper  1937
16417   Wols  [no title]               Etching on paper  1937
16418   Wols  [no title]  Etching and drypoint on paper  1937
16419   Wols  [no title]  Etching and drypoint on paper  1937
16420   Wols  [no title]  Etching and drypoint on paper  1937
16421   Wols  [no title]  Etching and drypoint on paper  1937
16422   Wols  [no title]  Etching and drypoint on paper  1937
16423   Wols  [no title]               Etching on paper  1937
16424   Wols  [no title]  Etching and drypoint on paper  1937
16425   Wols  [no title]               Etching on paper  1937
16426   Wols  [no title]  Etching and drypoint on paper  1937
16427   Wols  [no title]  Etching and drypoint on paper  1937
16428   Wols  [no title]  Etching and drypoint on paper  1937
16429   Wols  [no title]  Etching and drypoint on paper  1937
16430   Wols  [no title]  Etching and drypoint on paper  1937
16431   Wols  [no title]  Etching and drypoint on paper  1937
16432   Wols  [no title]  Etching and drypoint on paper  1937
16433   Wols  [no title]  Etching and drypoint on paper  1937
16434   Wols  [no title]  Etching and drypoint on paper  1937
16435   Wols  [no title]  Etching and drypoint on paper  1937
16436   Wols  [no title]  Etching and drypoint on paper  1937
16437   Wols  [no title]  Etching and drypoint on paper  1937
16438   Wols  [no title]  Etching and drypoint on paper  1937
16439   Wols  [no title]  Etching and drypoint on paper  1937
16440   Wols  [no title]  Etching and drypoint on paper  1937
16441   Wols  [no title]  Etching and drypoint on paper  1937

       acquisitionYear width height units
id
16412           1983.0   130     80    mm
16413           1983.0   187    102    mm
16414           1983.0   248    168    mm
16415           1983.0   149    102    mm
16416           1983.0   203    120    mm
16417           1983.0   130     79    mm
16418           1983.0   124     98    mm
16419           1983.0   140     89    mm
16420           1983.0   140     86    mm
16421           1983.0    83     79    mm
16422           1983.0   200    146    mm
16423           1983.0    60     98    mm
16424           1983.0   124     98    mm
16425           1983.0   124     98    mm
16426           1983.0   204    118    mm
16427           1983.0   105     98    mm
16428           1983.0   197    149    mm
16429           1983.0   102    120    mm
16430           1983.0   118     95    mm
16431           1983.0   140     79    mm
16432           1983.0   124     95    mm
16433           1983.0   105     73    mm
16434           1983.0   121    102    mm
16435           1983.0   121     92    mm
16436           1983.0   124     98    mm
16437           1983.0   124     98    mm
16438           1983.0   124     98    mm
16439           1983.0   102     70    mm
16440           1983.0   105     70    mm
16441           1983.0   324    248    mm

In [7]:
for name, group_df in grouped:
    min_year = group_df['acquisitionYear'].min()
    print(f'{name}: {min_year}')

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

2. Transformation: Changing missing value with most common values

In [8]:
group_medium = small_df.groupby('artist')['medium']
small_df.loc[:, 'medium'] = group_medium.transform(len)  # here we transform the mediym wiht its length function for str
# we can use user-defined functions in transformation as well
small_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
16412,Wols,[no title],30,1937,1983.0,130,80,mm
16413,Wols,[no title],30,1937,1983.0,187,102,mm
16414,Wols,[no title],30,1937,1983.0,248,168,mm
16415,Wols,[no title],30,1937,1983.0,149,102,mm
16416,Wols,[no title],30,1937,1983.0,203,120,mm
16417,Wols,[no title],30,1937,1983.0,130,79,mm
16418,Wols,[no title],30,1937,1983.0,124,98,mm
16419,Wols,[no title],30,1937,1983.0,140,89,mm
16420,Wols,[no title],30,1937,1983.0,140,86,mm
16421,Wols,[no title],30,1937,1983.0,83,79,mm
16422,Wols,[no title],30,1937,1983.0,200,146,mm
16423,Wols,[no title],30,1937,1983.0,60,98,mm
16424,Wols,[no title],30,1937,1983.0,124,98,mm
16425,Wols,[no title],30,1937,1983.0,124,98,mm
16426,Wols,[no title],30,1937,1983.0,204,118,mm
16427,Wols,[no title],30,1937,1983.0,105,98,mm
16428,Wols,[no title],30,1937,1983.0,197,149,mm
16429,Wols,[no title],30,1937,1983.0,102,120,mm
16430,Wols,[no title],30,1937,1983.0,118,95,mm
16431,Wols,[no title],30,1937,1983.0,140,79,mm
16432,Wols,[no title],30,1937,1983.0,124,95,mm
16433,Wols,[no title],30,1937,1983.0,105,73,mm
16434,Wols,[no title],30,1937,1983.0,121,102,mm
16435,Wols,[no title],30,1937,1983.0,121,92,mm
16436,Wols,[no title],30,1937,1983.0,124,98,mm
16437,Wols,[no title],30,1937,1983.0,124,98,mm
16438,Wols,[no title],30,1937,1983.0,124,98,mm
16439,Wols,[no title],30,1937,1983.0,102,70,mm
16440,Wols,[no title],30,1937,1983.0,105,70,mm
16441,Wols,[no title],30,1937,1983.0,324,248,mm
4704,"Frost, Sir Terry",Blue Moon,8,1952,1983.0,355,273,mm
4705,"Frost, Sir Terry",Boat Shapes,8,1952,1983.0,132,143,mm
4706,"Frost, Sir Terry",Boat Shapes,8,1954,1983.0,131,155,mm
4707,"Frost, Sir Terry",Boat Shapes,8,1954,1983.0,193,267,mm
4708,"Frost, Sir Terry",Leeds,8,1956,1983.0,125,167,mm
4709,"Frost, Sir Terry","Camping, Anduze",8,1979,1983.0,257,209,mm
4710,"Frost, Sir Terry","Umea, Sweden",8,1979,1983.0,NaN,NaN,NaN
4711,"Frost, Sir Terry",Self-Portrait,8,1980,1983.0,277,200,mm
11838,"Phillips, Esq Tom",[colophon],1,1979,1983.0,292,204,mm